@charset "UTF-8";
@media screen and (max-width:319px) {
    html {  font-size:85.33333px  }
}@media screen and (min-width:320px) and (max-width:359px) {
    html {  font-size:85.33333px  }
}@media screen and (min-width:360px) and (max-width:374px) {
    html {  font-size:96px  }
}@media screen and (min-width:375px) and (max-width:383px) {
    html {  font-size:100px  }
}@media screen and (min-width:384px) and (max-width:399px) {
    html {  font-size:102.4px  }
}@media screen and (min-width:400px) and (max-width:413px) {
    html {  font-size:106.66667px  }
}@media screen and (min-width:414px) {
    html {  font-size:110.4px  }
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,blockquote,th,td,header,nav,section,button {margin:0;  padding:0  }
body {font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;  line-height:1.5;  font-size:14px;  color:#000;  background-color:#f8f8f8;  -webkit-user-select:none;  -webkit-text-size-adjust:100%;  -webkit-tap-highlight-color:transparent;  outline:0  }
a{color: #000000}
li{display: inline-block;*display:inline;*zoom:1}
h1,h2,h3,h4,h5,h6 {font-size:100%;  font-weight:400  }
.redFont{color:#850009}
.grayFont{color:#7c7c7c}
.button{width:70%;height:7%;background:#971f2e;border:none;outline:none;border-radius:6px;color:#fff;font-size:0.16rem;letter-spacing:0.03rem}

.page_container header{width: 100%;height:150px;background:#d0d0d0;position: relative}
.page_container ul{position: absolute;width:100%;bottom:13px}
.page_container li{float:left;font-size:0.16rem;width:22%;text-align: center;color:#fff;line-height:0.16rem}
.page_container li:nth-child(1),.page_container li:nth-child(3){width:26.6%}
.page_container li:not(:last-child){border-right:2px solid #Fff;}

.main-bg{background:#e0dbcd;width:100%;height:calc(100% - 150px)}
.page_main{width:66%;height:100%;background: #fff;margin-left:17%;text-align: center}
.page_main .title{font-size:0.2rem;color:#7c7c7c}
.page_main .message_div{margin-top:10px}
.page_main .message_div label{text-align: left;font-size:0.16rem;margin-right: 22px;}
.page_main .message_div input{width:50%;padding:0.1px 10px;border-radius:2px}












